WHATSAPP_TOKEN=EAAT7kTMxe0QBQBM0TSU6sZB0vmLwj6TNtAbZCNz
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id_here
WHATSAPP_VERIFY_TOKEN=clinicai_verify_2025
OPENAI_API_KEY=sk-proj-HstLUJfydTqNns3DIZ80EfJCKqQsckz

FIREBASE_PROJECT_ID=clinicflow-x
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@clinicflow-x.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvAI…\n-----END PRIVATE KEY-----\n"
